In [1]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
df = pd.read_csv("loyKratong.csv")

In [ ]:
df = df.dropna()

In [ ]:
sigma = 0
for c in default_text:
    sigma += len(df[df['content'].str.contains(c,na=False)])
    print(c,len(df[df['content'].str.contains(c,na=False)]))

    df = df[~df['content'].str.contains(c,na=False)]

In [ ]:
from pythainlp.tokenize import word_tokenize

In [ ]:
df2 = df.drop(columns=['img']).copy()

In [ ]:
count = 0
def removeStopwords(L):
    global count
    count+=1
    out = []
    for c in L:
        if c not in stopwords():
            out.append(c.strip())
    if(count%1000==0):
        print(count)
        
    return " ".join(out)

In [ ]:
df2['clean_content'] = df2['content'].apply(lambda x: removeStopwords(word_tokenize(x, engine="deepcut")) )

In [ ]:
df2.to_csv('cleaned.csv',index=False)

In [2]:
df = pd.read_csv("cleaned.csv").drop(columns=['name','date','content'])

In [3]:
df = df.dropna()

In [39]:
non_alpha = set(list("!@#$%^&*()_+<>?,./-ๆ๑๒๓๔๕๖๗๘๙"))

In [40]:
np.nan

nan

In [41]:
def listContent(s):
    out = []
    for c in s.split():
        if not (c in non_alpha or c in set(list("0123456789")) ):
            out.append(c)
    if len(out)==0:
        return np.nan
    return out

In [42]:
df['content'] = df['clean_content'].apply(lambda x: listContent(x))

In [43]:
df = df.dropna()

In [45]:
df.to_csv("preprocessed_data.csv",index=False)

In [44]:
df[df.clean_content.str.contains('ผัว')]

,id,clean_content,content
51,9068649,ผัว ไว คน ชอบ ผัว,"[ผัว, ไว, คน, ชอบ, ผัว]"
110,9067537,ผัว ชื่อ เบียร์ แกล้ง ๆ คน ชื่อ เบียร์ ชอบ เรา...,"[ผัว, ชื่อ, เบียร์, แกล้ง, คน, ชื่อ, เบียร์, ช..."
234,9065689,ผัว คืน,"[ผัว, คืน]"
299,9064345,ไบร์ท ผัว,"[ไบร์ท, ผัว]"
569,9059497,* * * ขน ผัว * * *,"[ขน, ผัว]"
...,...,...,...
446161,6425,หนู ผัว รวย,"[หนู, ผัว, รวย]"
446177,5985,ลอย กระทง ปี เจอ ดี เจอ แฟน ดี ผัว,"[ลอย, กระทง, ปี, เจอ, ดี, เจอ, แฟน, ดี, ผัว]"
446369,945,ผัว ชื่อ โอม 3 / 9 อยส. ไหร่ * * * เมีย รัก โอม,"[ผัว, ชื่อ, โอม, อยส., ไหร่, เมีย, รัก, โอม]"
446371,921,ผัว ชื่อ โอม 3 / 9 อยส.,"[ผัว, ชื่อ, โอม, อยส.]"
446382,665,ผัว,[ผัว]

In [14]:
"ผัว".isalpha()

False